body {
  background-color: #4070f4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  background-color: white;
  margin: auto;
  width: 500px;
}
input {
  margin: 10px;
  padding: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  background-color: #4070f4;
  color: white;
}
